/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    background-color: #33A17F; /* LightCyan */
}
.container {
    background-color: #33A17F; /* PaleTurquoise */
    padding: 20px;
}
.sqrt-button {
            background-color: red;
        }
  .logo {
            font-family: 'Eurostile Bold Extended Italic', sans-serif;
            font-size: 100px;
            color: #00FF66;
            text-shadow: 0 0 10px #33FF99;
        }
